/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: $black;
	background-color: transparent;
	background-image: url(https://placekitten.com/1200/1300);
	background-size: cover;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {

	position: relative;
	
	.banner-credit{
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: .5em;
		z-index: 100000;
		
		a{
			color: $white;
		}
	}

	// background-image: url(../images/_dev/2816-header.png);
	// @include background-size(cover);

	.logo {
		padding: 25px 0;
		background-color: $white;
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);

		a{
			margin: 0 auto;
			@include use-sprite('smalllogo');
			background-repeat: no-repeat;
			position: relative;
		}
	}

	.container-logo{
		padding: 0 0 0 0;
	}


}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

nav{
	position: relative;
	// @include gradient_blue();


	font-family: $sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-rendering: optimizelegibility;
	
	&.topnav li a,
	&.mainnav li a,
	a {
		display: block;
		text-decoration: none;
		color: $black;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
	}

	.topnavbtn,
	.mainnavbtn{
		background: transparent;
		border: none;
		color: $black;
		font-size: 1.5em;
		position: relative;
		top: 5px;
		left: 5px;

		&:focus {
			outline-color: transparent;
			outline-style: none;
		}
	}

	&.topnav{
		margin-bottom: 0px;
		min-height: 43px;
	
		background: rgb(255, 255, 255); /* fallback */
		background: rgba(255, 255, 255, 0.7);

		ul{
			display: none;
			margin-top: 1em;
			padding-bottom: 1em;
		}
		li a{
			font-size: 1em;
		}
	}

	&.mainnav{
		font-weight: 700;
		min-height: 43px;
		position: relative;

		// background: $mcdc-gray;
		background: #330000;
		
		> ul{
			display: none;
			padding: 1em 0;
		}

		li a{
			padding: 0 0 0 0;
		}

		.sub-menu{
			margin: 0 0 .5em 1em;
		}
	}

	li a{
		font-size: 1.25em;
	}
	
	ul.social{
		// float: right;
		margin: 0 0 0 0;
		position: absolute;
		top: -.2em;
		top: -1em;
		right: 10px;
		display: block;
	

		.lsf{
			text-transform: lowercase;
			font-weight: normal;
			margin: 0 0 0 0;
			float: left;

			a{
				margin: 0 .5em 0 0;
				padding: 0 0 0 0;
				font-size: 1.8em;
			}		
		}
	}



	#searchform{
		display: none;
		width: 96%;
		margin: 0 auto;
		padding: 1em;

		label{
			display: none;
		}

		#searchsubmit{
			border: none;
			background-color: transparent;
			color: $white;
			font-size: 2em;


			position: relative;
			top: -1px;

			&:focus {
				outline-color: transparent;
				outline-style: none;
			}
		}

		#s{
			height: 2em;
			@include border-radius(5px, 5px);
			border-style: none;
			padding: 20px;
			background-color: $white;
			color: $black;
			text-transform: lowercase;
			width: 95%;
			margin: 0 auto;

			font-size: 2em;
			color: $mcdc-orange;
			font-weight: 700;
			text-align: center;

			&:focus {
				outline-color: transparent;
				outline-style: none;
			}
		}
	}



}


/*********************
POSTS & CONTENT STYLES
*********************/


.indexbanner{
	display: none;
}

#content {
	padding-top: 4em;
	background-color: $white;

	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}

#main{
	// @include background-retina("../images/handmadepaper.png", "../images/handmadepaper_@2x.png");
	padding: 2em 2% 4.6875em 2%;
	margin-top: -4.6875em;
}


.featured-image{
	background-color: $white;
	margin-bottom: 2%;
	@include box-shadow($black 0px 3px 5px);


	line-height: 0;
	img{
		max-width: 100%;
		height: auto;
	}
}

		.hentry {
		
		.tags,
		.comments,
		.categories{}

		.comments{
			font-size: .75em;
			font-family: $serif;
			font-style: italic;
			text-transform: none;
		}



		.article-footer{
			p{
				margin: 0 0 0 0;
				font-size: .875em;

				&.comments{
					font-size: .75em;
					font-style: italic;
				}
			}
		}



		header {}

		footer {}

		} /* end .hentry */

		.categories{
			font-family: $sans-serif;
			font-size: .875em;
			text-transform: uppercase;
			margin: 0 0 0 3px;
		}

		.single-title,
		.page-title,
		.post-title {
			font-family: $sans-serif;
			font-size: 1.75em;
			text-transform: uppercase;
			font-weight: 700;
			margin: 0 0 0 0;
			line-height: 1;

			a{
				color: $black;
			}
		}

		.single-title {}

		.page-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {
			border-bottom: 5px solid $black;
			margin-bottom: 5em;
		}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			font-size: .825em;
			font-style: italic;
			margin: .25em 0 2em 0;

			time {}
		}

		/* entry content */
		.entry-content {
			
			p {
				margin: 0 0 1.5em 0;
			}


			ul, ol, table, dl {}

			ul, ol {
				
				margin: 0 0 1.5em 1.5em;

				li {
					margin-bottom: .5em;
				}

			}

			ul {
				list-style-type: square;
				li {}

			}

			ol {
				list-style-type: decimal;
				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */


.archive.category{
	.list{
		margin: 3em 0 0 2.5em;
	}

	h3.cat{
		margin-bottom: 0;
	}

	.kittens{
		margin: 0 0 0 0;
	}

	h3.cat,
	.kittens{
		font-family: $sans-serif;
		text-transform: uppercase;
	}

	.kittens{
		margin-left: 1em;
	}
	
	.cat,
	.kitten{
		font-size: .875em;
		position: relative;
	}

	.litter{
		font-family: $mono;
		position: absolute;
		left: -2.5em;
		top: -2px;
	}

	.kitten{
		// position: relative;

		a{
			// position: absolute;
			// left: 3em;
		}
	}
}

// delete me!!
nav.mainnav li.current-menu-item a,
nav.mainnav li.current-category-ancestor a{
	color: $mcdc-orange;
}





		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}


.endsign{
	@include use-sprite('endsign');
	margin: 0 0 2em 0;
	float: right;
}



/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.pagination{
        text-align: center;
		background: $mcdc-gray;

        ul {
            display: inline-block;
            white-space: nowrap;
            padding:0;
            clear: both;
            margin: .5em 0 0 0;
            li {
                padding: 0;
                margin: 0;
                float: left;
                display: inline;
                overflow: hidden;
                a, span {
                    margin: 0;
                    text-decoration: none;
                    padding: 0;
                    line-height: .4em;
                    font-size: 1em;
                    font-weight: normal;
                    padding: .5em;
                    min-width: 1em;
                    display: block;
                }
                span.current{
                	font-weight: bold;
                	border-radius: 100px;
                	background-color: $mcdc-orange;
                }
                a:hover, a:focus {
                    color: $mcdc-orange;
                }
            }
        }
    } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	background: $white;
	padding: 1%;

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;
		background-color: darken($white, 9%);

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0 0 0 .5em;
			// background-color: darken($white, 6%);
			
			li {background-color: $white;}

			/* variations */
			.comment {}
			.alt {}
			.odd {background-color: darken($white, 3%);}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		// background-color: darken($white, 9%);
		margin-left: 0;
		margin-top: 0;
		padding-left: 1em;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	// li.depth-2 {background-color: darken($white, 3%);}
	// li.depth-3 {background-color: darken($white, 6%);}
	// li.depth-4 {background-color: darken($white, 3%);}
	// li.depth-5 {background-color: darken($white, 6%);}

	/* general comment classes */
	.alt {}
	.odd {
		// background: #eee;
	}
	.even {
		// background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: $link-color;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;
	font-family: $serif;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {
		text-transform: none;
		font-size: 1em;
		font-weight: 700;
		margin: 0 0 0 0;
		color: $black;
		padding: 0;

		.lsf{
			font-size: 2em;
			text-transform: none;
			position: absolute;
			top: 2px;
			left: 22px;
		}


	}

	.widget {
		text-align: left;
		font-family: $sans-serif;
		font-weight: 300;

		ul {
			margin-left: 0em;
			padding-left: 0;

			ul{
				margin-left: 0;
				padding-left: 0;
			}

			li {
				margin-left: 0em;
				&:first-child {}

				&:last-child {}

				a {
					color: $black;

					&:hover{
						color: $link-hover;
					}
				}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	text-align: center;
	padding-top: 2em;
	
	background: rgb(255, 255, 255); /* fallback */
	background: rgba(255, 255, 255, 0.7);
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}





// #width {
//   @include transition-property(width);
// }
 
// #width:hover {
//   width: 80px;
// }



.royalSlider a .rsMainSlideImage{
	@include transition-property(opacity);
	@include transition-duration(.2s);
}

.royalSlider a .rsMainSlideImage:hover{
	opacity: .5;
}












// .video-container {
// 	position: relative;
// 	padding-bottom: 56.25%;
// 	padding-top: 30px;
// 	height: 0;
// 	overflow: hidden;
// }

// .video-container iframe,  
// .video-container object,  
// .video-container embed {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

.entry-content img, 
.entry-content iframe, 
.entry-content object, 
.entry-content embed {
        max-width: 100%;
}