/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/

// SUSY
// http://susydocs.oddbird.net/en/latest/install/

@import "susy";
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 820px,
  container-position: center,
  columns: 12,
  gutters: .5,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);


// Breakpoint
// http://breakpoint-sass.com/
// http://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
@import "breakpoint";

$breakpoint-481: 481px;
$breakpoint-768: 768px;
$breakpoint-1030: 1030px;
$breakpoint-1240: 1240px;
$breakpoint-mobile: max-width 767px;
$breakpoint-desktop: min-width 768px;


$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: true;