.page-template-page-t-home-php{

  #content{
    margin-top: 0;
    padding-top: 0;
  }

  .home-features{
    padding: 0;
    margin: 0;

    text-align: center;

    li{
      display: inline-block;
      width: 15%;
      margin-left: 2%;
      img{
        max-width: 100%;
        height: auto;
        transition: opacity .3s ease;

        &:hover{
          opacity: .75;
        }
      }

      &:first-child{
        margin-left: 0;
      }
    }
  }

  .module{
    @include breakpoint( 630px ){
      
      @include span(4 of 12);
      &:first-child{
        @include span(first 4 of 12);
      }
      &:last-child{
        @include span(last 4 of 12);
      }

    }

    li{
      margin-bottom: .75em;
      font-size: 22px;

      a{
        display: flex;
        align-items: center; /* align vertical */
        color: $black;
        transition: color .3s ease;

        &:hover{
          color: $mcdc-orange;
          
          img{
            opacity: .75;
          }
        }
      }
      
      img{
        max-width: 45px;
        height: auto;
        margin-right: .75em;
        transition: color .3s ease;
      }
    }
    
  }

}