.page-template-page-t-home-php{

  .home-features{
    padding: 0;
    margin: 0;

    text-align: center;

    li{
      display: inline-block;
      width: 15%;
      margin-left: 2%;
      img{
        max-width: 100%;
        height: auto;
      }

      &:first-child{
        margin-left: 0;
      }
    }
  }

  .module{
    @include breakpoint( 630px ){
      
      @include span(4 of 12);
      &:first-child{
        @include span(first 4 of 12);
      }
      &:last-child{
        @include span(last 4 of 12);
      }

    }

    li{
      display: flex;
      align-items: center; /* align vertical */

      img{
        max-width: 45px;
        height: auto;
      }
    }
    
  }

}