.page-template-page-t-module-php{
  .module-header{
      display: flex;
      align-items: center; /* align vertical */
      color: $black;
      transition: color .3s ease;
      margin-bottom: 2em;

      .post-title {
        @include span( first 8 of 12);
        line-height: 1.5;
      }
      
      .description{
        // @include span( last 3 of 12 );
        font-size: .35em;
      }

      .icon{
        @include span( 1 of 10 );
        text-align: left;

        img{
          max-height: 72px;
          width: auto;
        }
      }
  }
}